<div class="container mx-auto px-auto">
  <h1 class="my-2 py-2">Latest 5 listings</h1>
  <div class="row">
    <div class="card-columns">
      <div class="card-group my-2">
        <ng-container *ngIf="itemList">
        <app-home-page-item *ngFor="let item of itemList" [item]="item">

        </app-home-page-item>
        <div *ngIf="itemList.length === 0">Catalog is currently empty</div>
        </ng-container>
    </div>

      <div *ngIf="!itemList">
        ...Loading
      </div>
    </div>
  </div>
</div>
