<div class="container my-3 bg-light">
  <div class="jumbotron">
    <div class="container justify-content-center">
      <h1 class="display-4">Welcome</h1>
      <p class="lead">This is the place where you can sell your unused items.</p>
      <hr class="my-4">
      <p>Check out all adverts right here</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" routerLink="/catalog" role="button">Marketplace</a>
      </p>
    </div>
  </div>
    <app-home-page-list></app-home-page-list>
</div>
