<!-- Page Content -->
<div class="container">

  <!-- Portfolio Item Heading -->
  <h1 class="my-4 text-center">{{user?.username | uppercase}}`s
    <small>profile</small>
  </h1>

  <!-- Portfolio Item Row -->
  <div class="row">

    <div class="col-md-8">

    </div>

    <div class="col-md-4">
      <h3 class="my-3">User Details</h3>
      <ul>
        <li><h5>Email: {{user?.email}}</h5></li>
        <li *ngIf="user?.tel" >Tel: {{user?.tel}}</li>
      </ul>
    </div>

  </div>
  <!-- /.row -->

  <!-- Related Projects Row -->
  <ng-container *ngIf="user?.myAds.length > 0">
  <h3 class="my-4">My listings</h3>

  <div class="row">
    <ng-container *ngFor="let item of itemList">
    <div class="col-md-3 col-sm-6 mb-4">
      <a [routerLink]="['/catalog', item._id]">
            <img class="img-fluid" src={{item.img}} alt="">
          </a>
    </div>
  </ng-container>
  </div>
  <!-- /.row -->
</ng-container>
<ng-container >
  <h3 class="my-4">No listings yet</h3>
</ng-container>
</div>
<!-- /.container -->
