<section class="h-100">
  <div class="container h-100">
    <div class="row justify-content-sm-center h-100 mt-5">
      <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
        <div class="card shadow-lg">
          <div class="card-body p-5">
            <h1 class="fs-4 card-title fw-bold mb-4">Create listing</h1>
            <form class="needs-validation" #newItemForm="ngForm" (ngSubmit)="submitNewItem(newItemForm)">
              <ng-container *ngIf="errorMessage">
                <div class="alert alert-danger .fade">{{errorMessage}}</div>
              </ng-container>
              <div class="mb-3">
                <label class="mb-2 text-muted" for="name">Name</label>
                <input id="name" type="text" class="form-control" name="name" #name="ngModel" ngModel required
                  minlength="4">
               <ng-container *ngIf="name.touched && !name.valid">
                 <p *ngIf="newItemForm.controls['name'].errors.required" class="error mt-1">
                   Name field is required
                 </p>
                 <p class="error mt-1">
                  Name must be at least 4 characters long
                 </p>
               </ng-container>
              </div>
              <div class="mb-3">
                <label class="mb-2 text-muted" for="description">Description</label>
                <textarea class="form-control" id="description" #description="ngModel" name="description" ngModel rows="3"></textarea>

              </div>

              <div class="mb-3">
                <label class="mb-2 text-muted" for="location">Location</label>
                <input id="location" type="text" class="form-control" name="location" #location="ngModel" ngModel
                required minlength="5">
                <ng-container *ngIf="location.touched && !location.valid">
                  <p *ngIf="newItemForm.controls['location'].errors.required" class="error mt-1">
                    Location is required
                  </p>
                  <p class="error mt-1">
                    Location must be at least 5 characters long
                  </p>
                </ng-container>
              </div>
              <div class="mb-3">
                <label class="mb-2 text-muted" for="price">Price</label>
                <input id="price" type="number" class="form-control" name="price" #price="ngModel" ngModel required
                  min="0">
                <ng-container *ngIf="price.touched && !price.valid">
                  <p *ngIf="newItemForm.controls['price'].errors.required" class="error mt-1">
                    Price is required
                  </p>
                  <p class="error mt-1">
                    Price could be 0 or any positive number
                  </p>
                </ng-container>
              </div>
              <div class="mb-3">
                <label class="mb-2 text-muted" for="img">Image</label>
                <input id="img" type="text" class="form-control" name="img" #img="ngModel" ngModel required min="0">
              </div>
              <div class="align-items-center d-flex ">
                <button class="btn btn-danger ms-auto" routerLink="/catalog">
                  Cancel
                </button>
                <button class="btn btn-primary ms-auto">
                  Create
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
